.crop-container .div{
    position: absolute;
}
.crop-container .line1,
.crop-container .line2,
.crop-container .line3{
    position: absolute;
    width: 350px;
    margin-top: 3%;
}
.crop-container .line2{
   left: 45%;
}
.crop-container .line3{
    left: 72%;
}
